

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    color: grey;
    text-decoration: none;
  }

  nav{
    display: flex;
    font-size: x-large;
    justify-content: space-evenly;
    font-weight: bolder;
    margin-bottom: 100px;;
  }
  a{
    
    text-decoration: none;
    color: black;
  }